
@use '../../../theme/theme' as *
@use '../../../mixins' as *

/***************************************************
 * GENERAL
 ***************************************************/

.goals
  padding: 2rem

/***************************************************
 * TOP BAR
 ***************************************************/

.goals .top-bar
  .header
    font-size: 2rem

  .search-container
    border-radius: $border-radius
    padding: 0.1rem 1rem
    font-size: 1rem
    border: 0.1rem solid
    border-color: $neutral-900
    transition: all 0.15s

    &:focus-within
      border-color: $neutral-100
      color: $neutral-100

  .filters
    min-height: 2.5rem

  .refresh
    border-radius: $border-radius
    font-size: 1rem
    padding: 0rem 1rem
    transition: all 0.15s

    &:disabled
      background-color: $neutral-700
      color: $neutral-800

    &:hover:not(:disabled)
      background-color: $primary-500

    &:not(:hover):not(:disabled)
      background-color: $neutral-700

/***************************************************
 * GOALBOX
 ***************************************************/

.goals .overview .goalbox
  min-height: 15rem
  padding: 0.8rem
  transition: 0.2s all
  border-radius: $border-radius
  border-color: transparent
  border-style: solid
  border-width: 0.2rem
  color: var(--dash-goals-fg)

  &:hover
    border-color: $neutral-100

  .description
    color: var(--dash-goals-fg)
    font-size: 1.4rem
    font-weight: 500

  .goal-icon
    color: var(--dash-goals-fg)
    -gtk-icon-size: 2rem

  .progress-indicator
    color: var(--dash-goals-fg)

  .target-date
    color: var(--dash-goals-fg)

  /* Custom categories */
  &.career
    background-color: var(--dash-goals-career)
  
  &.personal
    background-color: var(--dash-goals-personal)
  
  &.relationships
    background-color: var(--dash-goals-relationships)
  
  &.mental
    background-color: var(--dash-goals-mental)
  
  &.health
    background-color: var(--dash-goals-health)
  
  &.financial
    background-color: var(--dash-goals-financial)
  
  &.travel
    background-color: var(--dash-goals-travel)

  &.aspirational
    background-color: var(--dash-goals-aspirational)

/***************************************************
 * FILTER BUTTONS
 ***************************************************/
  
.goals .overview .filters
  button
    color: $neutral-300
    border-radius: 0.2rem
    background-color: $neutral-700

    &:hover
      background-color: $primary-900

    &.toggled
      color: $neutral-100
      transition: 0.1s all
      background-color: $primary-500

/********************************************************
 * SIDEBAR
 ********************************************************/

.goals .sidebar
  color: $neutral-100
  min-width: 20rem
  background-color: $neutral-700
  padding: 1.4rem

  dropdown
    popover
      background-color: $neutral-800

  .section-header
    font-size: 1.2rem
    font-weight: 700

  .goal-description
    font-size: 1.4rem
    font-weight: 700

  .details-section
    .field-key
      color: $neutral-200
      min-width: 5rem

    .field-value
      text selection
        background-color: $yellow-500
      
    label.field-value > selection
      background-color: $yellow-500
      
    * 
      padding: 0.1rem

    .copy-uuid *
      transition: 0.1s all
      color: $neutral-100

      &:hover
        color: $primary-500

  .annotations-section
    .annotation-date
      color: $neutral-200
      min-width: 5rem
    
    * 
      padding: 0.1rem
  
  .children-section
    *
      padding: 0.15rem

    .completed
      font-weight: 500
    
    .pending
      color: $neutral-200

    .clickable-link
      transition: 0.3s all

      &:hover
        color: $primary-500
