
@use '../../../theme/theme' as *
@use '../../../mixins' as *

/*********************************************
 * General
 *********************************************/

.home
  padding: 2rem

/*********************************************
 * RSS
 *********************************************/

.home .rss-feed
  .header
    font-size: 1.4rem

  .headline
    padding: 0.4rem

    .headline-title
      transition: all 0.1s ease-out
      color: $neutral-100
      font-size: 1rem
      font-weight: bold

    &:hover .headline-title
      color: $primary-500

    .headline-feed-title
      font-size: 0.8rem
      color: $neutral-300

    .headline-excerpt
      transition: all 0.2s ease-out

/*********************************************
 * Book
 *********************************************/

.home .book
  .header
    font-size: 1rem
    font-weight: 600

  .cover
    border-radius: $border-radius
    background-repeat: no-repeat
    background-size: cover
    background-position: center

  .info
    // background-color: red
    .title
      font-size: 2rem
      font-weight: 500

    .author
      color: $neutral-300

    .progress
        // LevelBar styling
        scale
          margin-top: 0.4rem
          border-color: $neutral-500
          background-color: $neutral-500

          block.filled
            border-color: transparent
            background-color: $primary-500
            min-height: 0.2rem

          block.empty
            border-color: transparent
            background-color: $neutral-500
    

/*********************************************
 * Media player
 *********************************************/

.home .media-player
  border-radius: $border-radius
  min-height: 10rem

  .cover-art
    border-radius: $border-radius
    transition: all 0.25s ease-out
    background-size: 100%
    background-position: center
    filter: sepia(50%)
    opacity: 0.4

  .cover-art-overlay
    border-radius: $border-radius
    opacity: 0.4
    background-color: $primary-700
  
  .info
    padding: 1.4rem

    .title
      font-size: 1.8rem

    .artist
      font-size: 1.2rem

    .visualizer
      color: $neutral-100

/*********************************************
 * RSS
 *********************************************/

.home .rss
  padding: 1.2rem
  background-color: $primary-800
  border-radius: $border-radius

  .rss-header
    font-size: 1.4rem
    padding-bottom: 0.4rem

  .rss-separator
    background-color: $neutral-100
    opacity: 0.2
    padding: 0.1rem
    margin-top:    0.6rem
    margin-bottom: 0.6rem

  .rss-entry
    .title
      font-size: 1.15rem
  
    .source
      padding-right: 1rem
  
    .entry-bottom
      padding-top: 0.4rem
  
      .icon
        padding-right: 0.3rem

/*********************************************
 * PROFILE
 *********************************************/

.home .profile
  margin: 2.5rem 1rem

  .pfp
    min-height: 8rem
    min-width: 8rem
    border-radius: 50%
    border: 0.3rem solid $primary-400
    background-position: center

  .username
    margin-top: 0.4rem
    font-size: 1.3rem

  .splash
    color: $neutral-300


/*********************************************
 * CLOCK
 *********************************************/

.home .clock
  border-radius: $border-radius
  background-color: $neutral-800
  padding: 2rem 1rem

  .time
    font-size: 4rem
    color: $primary-500

  .date
    margin-top: -0.5rem
    color: $neutral-100

/*********************************************
 * QUOTE
 *********************************************/

.home .quote
  // padding: $spacing-s

  .quote-text
    color: $neutral-100
    font-size: 1.2rem

  .author
    color: $neutral-300
    font-size: 1rem


/*********************************************
 * AGENDA
 *********************************************/

.home .agenda
  .day-header
    min-width: 25rem
    border-color: $neutral-600
    border-style: solid
    border-width: 0 0 0.1rem 0
    font-weight: 500
    padding-bottom: 0.5rem

    .date 
      color: $neutral-300

    .today
      transition: none
      color: $primary-400

  .day-event
    border-color: $primary-400
    border-style: solid
    border-width: 0 0 0 0.2rem
    padding-left: 0.5rem

    // .event-title
    //
    // .event-time

  .day-task
    border-color: $primary-400
    border-style: solid
    border-width: 0 0 0 0.2rem

.home
  .github
    padding: 0.2rem

    .header
      color: $neutral-100
      font-size: 1.8rem

    .subheader
      color: $neutral-300
      font-size: 1rem

    .contrib-container
      margin-top: 1rem

/*********************************************
 * Weather
 *********************************************/

.weather
  padding: 1.6rem
  background-color: $neutral-800
  border-radius: $border-radius

  .hi-lo
    font-size: 1.4rem

    .text
      font-weight: 700

    .temperature

  .current-weather
    .temperature
      font-size: 3.4rem

    .description

  .forecast
    .item
      .icon
        -gtk-icon-size: 2.1rem
        color: $primary-500

      .temperature

      .time
        font-size: 0.8rem
        color: $neutral-300

/*********************************************
 * Github
 *********************************************/

// whyyyy cant i add this under 'github' without breaking
.intensity-0 // lowest intensity
  color: $neutral-600
  min-width: 0.8rem

.intensity-1
  color: $primary-300
  min-width: 0.8rem

.intensity-2
  color: $primary-500
  min-width: 0.8rem

.intensity-3
  color: $primary-700
  min-width: 0.8rem

.intensity-4
  color: $primary-900
  min-width: 0.8rem

.home .pinned-goals
  .header
    font-size: 1.4rem

  .goal
    background-color: $primary-400
    padding: 0.8rem
    transition: 0.2s all
    border-radius: $border-radius
    border-color: transparent
    border-style: solid
    border-width: 0.2rem

    &:hover
      border-color: $neutral-100

    .description
      color: var(--dash-goals-fg)

    .goal-icon
      color: var(--dash-goals-fg)
      -gtk-icon-size: 1.4rem

    .goal-stats
      font-size: 0.9rem
      color: var(--dash-goals-stats-fg)

    /* Custom categories */
    &.career
      background-color: var(--dash-goals-career)
    
    &.personal
      background-color: var(--dash-goals-personal)
    
    &.relationships
      background-color: var(--dash-goals-relationships)
    
    &.mental
      background-color: var(--dash-goals-mental)
    
    &.health
      background-color: var(--dash-goals-health)
    
    &.financial
      background-color: var(--dash-goals-financial)
    
    &.travel
      background-color: var(--dash-goals-travel)

    &.aspirational
      background-color: var(--dash-goals-aspirational)
