
// █▄█ █▀█ █▀█ █░█ ▄▀█
// ░█░ █▄█ █▀▄ █▀█ █▀█

// For the glory of mankind

@use 'sass:list'

$red-100: #3D2E28
$red-200: #5A443D
$red-300: #775A52
$red-400: #947067
$red-500: #B1867C

$yellow-100: #3D3628
$yellow-200: #5A4F3D
$yellow-300: #776852
$yellow-400: #948167
$yellow-500: #B19A7C

$green-100: #353828
$green-200: #4F523D
$green-300: #696C52
$green-400: #838667
$green-500: #9DA07C

$neutral-100: #454138
$neutral-200: #5D5850
$neutral-300: #756F68
$neutral-400: #8D8680
$neutral-500: #9D9589
$neutral-600: #A1998D
$neutral-700: #B8B29D
$neutral-800: #C0BCA7
$neutral-900: #CDC9B3

$primary-100: #3A342D
$primary-200: #4A443B
$primary-300: #5A544A
$primary-400: #6A6459
$primary-500: #7A7468
$primary-600: #8A8477
$primary-700: #9A9486
$primary-800: #AAA395
$primary-900: #AAA395

$accent-1:  desaturate(#8B5A54, 15%)  // Dusty Rose
$accent-2:  desaturate(#6B7A54, 15%)  // Olive
$accent-3:  desaturate(#8B7A54, 15%)  // Bronze
$accent-4:  desaturate(#547A8B, 15%)  // Steel Blue
$accent-5:  desaturate(#8B547A, 15%)  // Mauve
$accent-6:  desaturate(#7A8B54, 15%)  // Sage
$accent-7:  desaturate(#8B6A54, 15%)  // Terracotta
$accent-8:  desaturate(#7F8B54, 15%)  // Moss
$accent-9:  desaturate(#6A548B, 15%)  // Purple
$accent-10: desaturate(#548B7A, 15%)  // Teal

$accents: desaturate(#8B5A54, 15%), desaturate(#6B7A54, 15%), desaturate(#8B7A54, 15%), desaturate(#547A8B, 15%), desaturate(#8B547A, 15%), desaturate(#7A8B54, 15%), desaturate(#8B6A54, 15%), desaturate(#7F8B54, 15%), desaturate(#6A548B, 15%), desaturate(#548B7A, 15%)

@for $index from 1 through list.length($accents)
  .accent-#{$index}
    background-color: list.nth($accents, $index)

// Overrides
$gtk-version: 4 !default
@if $gtk-version == 4
  :root
    --dash-goals-career: #{$accent-1}
    --dash-goals-personal: #{$accent-2}
    --dash-goals-relationships: #{$accent-3}
    --dash-goals-mental: #{$accent-4}
    --dash-goals-health: #{$accent-5}
    --dash-goals-financial: #{$accent-6}
    --dash-goals-aspirational: #{$accent-7}
    --dash-goals-travel: #{$accent-8}
