
@use '../../theme/theme' as *
@use './ledger'
@use './home'
@use './calendar'
@use './goals'
@use './tasks'

.dash
  margin: 8rem
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px

  /* Dash tabs */
  .tab-layout
    padding: 2rem

    .tab-header
      font-size: 2rem
      margin-bottom: 1rem

  /* Dash widget containers */
  .widget-container
    background-color: $neutral-800
    padding: 1rem
    border-radius: $border-radius

    .widget-header
      font-size: 1.4rem

  .tab-bar
    min-height: $dashboard-height
    min-width: 4rem
    background-color: $neutral-800
    border-top-left-radius: $border-radius
    border-bottom-left-radius: $border-radius

    .tab-entry
      padding: 1rem
      border-left-style: solid
      border-left-color: $neutral-800
      border-left-width: 4px

      &.active
        background-color: $neutral-700
        border-left-color: $neutral-100

  .tab-stack
    min-height: $dashboard-height
    min-width: $dashboard-width
    background-color: $neutral-900
    border-top-right-radius: $border-radius
    border-bottom-right-radius: $border-radius
