/**
 * Styling for builtin Gtk4 components
 */

@use '../theme/theme' as *

image
  -gtk-icon-style: symbolic
  -gtk-icon-size: 1.3rem

scale
  trough
    border-color: $neutral-700
    background-color: $neutral-700
    min-height: 0.4rem

    fill
      background-color: $neutral-800

    highlight
      background-color: $primary-500

dropdown
  > button

  popover
    border-radius: $border-radius
    background: $neutral-700

    listview > row
      padding: 0.3rem 0.7rem

      &:first-child
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius
      
      &:last-child
        border-bottom-left-radius: $border-radius
        border-bottom-right-radius: $border-radius

      &:hover
        background-color: $neutral-600

      &:selected
        background-color: $primary-600

      image
        margin-left: 1rem

switch
  // Switch track/background
  border-radius: 1rem
  background: #ccc
  transition: all 0.2s ease
  
  // The slider button
  slider
    min-width: 2rem
    min-height: 2rem
    border-radius: 50%
    background: white
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.2)
    transition: all 0.15s
    margin: 0.15rem
  
  // Active/checked state
  &:checked
    background: $primary-500
    
  // Disabled state
  &:disabled
    opacity: 0.5
    
    slider
      background: #f0f0f0
  
  // Focus state
  &:focus
    outline: 0.15rem solid $primary-500
    outline-offset: 0.15rem
  
  // Hover states
  &:hover:not(:disabled)
    slider
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3)

frame
  border-width: 0.2rem 
  border-style: solid
  border-color: $neutral-200
  border-radius: $border-radius
  background: $neutral-800
  transition: $transition
  padding: 0.4rem
  
  label
    font-weight: bold
    color: $neutral-100
    margin-bottom: 0.2rem

  &:focus-within
    border-color: $primary-500
    background-color: rgba($primary-500, 0.1)

    label
      color: $primary-500

revealer
  // I don't think this is working
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)

checkbutton
  min-width: 1rem
  min-height: 1rem
  border-radius: 0.1rem
  
  check
    background-color: $neutral-800
    border-radius: 0.1rem
    
    &:checked
      background-color: $primary-500
    
    &:hover
    
    &:disabled
