
@import 'colors/colors'

// Overrideable by themes
$gtk-version: 4 !default
@if $gtk-version == 4
  :root
    --bar-workspace-empty-color: #{$neutral-500}
    --bar-workspace-not-empty-color: #{$neutral-100}
    --bar-workspace-focused-color: #{$primary-400}
    --bar-battery-charging-color: #{$green-300}
    --bar-battery-critical-color: #{$red-300}
    --bar-battery-low-color: #{$yellow-300}
    --bar-clock-color: #{$neutral-100}

    --dash-goals-career: #{desaturate(darken($accent-1, 10%), 10%)}
    --dash-goals-personal: #{desaturate(darken($accent-2, 10%), 10%)}
    --dash-goals-relationships: #{desaturate(darken($accent-3, 10%), 10%)}
    --dash-goals-mental: #{desaturate(darken($accent-4, 10%), 10%)}
    --dash-goals-health: #{desaturate(darken($accent-5, 10%), 10%)}
    --dash-goals-financial: #{desaturate(darken($accent-6, 10%), 10%)}
    --dash-goals-travel: #{desaturate(darken($accent-7, 10%), 10%)}
    --dash-goals-aspirational: #{desaturate(darken($accent-8, 10%), 10%)}
