
@use '../../theme/theme' as *

.bar
  padding: 0.75rem 0rem 0.75rem 0.75rem

  .center
    .workspaces
      .workspace
        padding: 0.25rem 0rem

      .empty
        color: var(--bar-workspace-empty-color)

      .not-empty
        color: var(--bar-workspace-not-empty-color)

      .focused
        color: var(--bar-workspace-focused-color)

  .bottom
    .volume
      scale
        trough
          border-color: $neutral-700
          background-color: $neutral-700

          fill
            background-color: transparent

          highlight
            background-color: $primary-500

    .time
      color: var(--bar-clock-color)

    .battery
      .charging
        color: var(--bar-battery-charging-color)

      .critical
        color: var(--bar-battery-critical-color)

      .low
        color: var(--bar-battery-low-color)

    *:not(:last-child) 
      padding-bottom: 0.5rem
