
$gtk-version: 3

@import 'theme/theme'

// *
//   all: unset // remove default gtk styling
//   font-family: $font-stack
//   color: $neutral-100

.fuck
  background-color: transparent

.lock-container
  background-color: $neutral-800
  color: $neutral-100

  .profile-picture
    min-height: 10rem
    min-width: 10rem
    border-radius: 50%
    border: 0.3rem solid $primary-400
    background-size: 100%
    background-position: center

  .profile-name
    font-size: 1.4rem

  .password-prompt

  .greeting
    font-size: 1rem

  .datetime
    .date

    .time
      font-size: 8rem
      color: $primary-500
