
$gtk-version: 3

@import 'theme/theme'

// *
//   all: unset // remove default gtk styling
//   font-family: $font-stack
//   color: $neutral-100

.lock-container
  background-color: $neutral-800

  .password-prompt

  .greeting
    font-size: 1rem
