
$gtk-version: 4

@import 'windows'
@import 'components'
@import 'theme/theme'

*
  all: unset // remove default gtk styling
  font-family: $font-stack
  color: $neutral-100

// Debug focus
// :focus, .focus
//   background-color: red
//   color: red
