
@use '../theme/theme' as *

.segmented-toggle-button-container
  :first-child
    border-top-left-radius: $border-radius
    border-bottom-left-radius: $border-radius

  :last-child
    border-top-right-radius: $border-radius
    border-bottom-right-radius: $border-radius

  :not(:last-child)
    border-right: 0.18rem solid $neutral-800
    
  .segmented-toggle-button
    font-size: 1rem
    padding: 0rem 1rem

    &:disabled
      background-color: $neutral-700
      color: $neutral-800
  
    &:checked:not(:disabled)
      background-color: $primary-500
  
    &:not(:checked):not(:disabled)
      background-color: $neutral-700
