
@use '../../theme/theme' as *

/****************************************
 * GENERAL
 ****************************************/

.utility
  font-family: $font-stack
  background-color: $neutral-800
  border-radius: $border-radius
  min-width: 28rem
  padding: 1.6rem

.utility .tab-label
  border-bottom: 3px solid $primary-500
  padding-top: 0.6rem
  padding-bottom: 0.6rem

/****************************************
 * GENERAL
 ****************************************/
