
@use '../../../theme/theme' as *

.maps
  // Sidebar that pops out with options for the user
  .sidebar
    background-color: $neutral-800

    &.expanded
      min-width: 24rem

    > *
      padding: 1rem

    .top-section
      background-color: $primary-500

      // Little slidey-out thing
      .handle
        background-color: $neutral-800

      // "Where to?"
      .header
        font-size: 1.4rem
        margin-bottom: 0.5rem

      // Where the user enters start/end destination
      .search

      // Button to swap origin/destination text
      .origin-dest-swap
        margin-left: 0.4rem

    .section-content
      // Autocompleted
      .place-prediction
        padding: 0.2rem
        background-color: $neutral-800
        border-radius: $border-radius

        &:hover
          background-color: $neutral-600

        .name
          font-weight: 500
          font-size: 1.2rem

        .address

  .map
    map-view

    map-scale, map-license
      color: transparent
