
@use '../../../theme/theme' as *

.maps
  // Sidebar that pops out with options for the user
  .sidebar
    padding: 1rem
    background-color: $neutral-800

    &.expanded
      min-width: 24rem

    // Little slidey-out thing
    .handle >
      background-color: $neutral-800

    // "Where to?"
    .header
      font-size: 1.4rem
      margin-bottom: 0.5rem

    // Where the user enters start/end destination
    .search

  // Contains the map widget
  .map-container
