
@use '../../theme/theme' as *
@use './calculator'
@use './metronome'
@use './paintmixer'
@use './gemini'

/****************************************
 * GENERAL
 ****************************************/

.utility
  margin-left: 0.8rem
  margin-top: 0.8rem
  margin-bottom: 0.8rem
  font-family: $font-stack
  background-color: $neutral-800
  border-radius: $border-radius
  min-width: 28rem
  padding: 1.6rem

  .tab-entry
    padding: 0.6rem 1rem
    margin-bottom: 1rem

    &.active
      border-bottom: 0.2rem solid $primary-500

    &:not(.active)
      border-bottom: 0.2rem solid transparent

    .icon
      padding-right: 0.5rem

