
@use '../../theme/theme' as *
@use 'calculator'
@use 'metronome'
@use 'paintmixer'
@use 'gemini'
@use 'stickynotes.sass'

/****************************************
 * GENERAL
 ****************************************/

.utility
  margin-left: 0.8rem
  margin-top: 0.8rem
  margin-bottom: 0.8rem
  font-family: $font-stack
  background-color: $neutral-800
  border-radius: $border-radius
  min-width: 28rem
  padding: 1.6rem

  .tab-entry
    padding: 0.6rem 1rem
    margin-bottom: 1rem

    &.active
      border-bottom: 0.2rem solid $primary-500

    &:not(.active)
      border-bottom: 0.2rem solid transparent

    .icon
      padding-right: 0.5rem

  // Timer widget
  .timer
    background-color: $neutral-700
    border-radius: $border-radius
    padding: 1rem

    .header
      font-size: 1.4rem

    .time
      font-size: 6rem
      font-weight: 400
      color: $neutral-100

    .state-ctrl
      border-radius: $border-radius
      background-color: $neutral-600
      padding: 0.4rem
      margin-bottom: 0.5rem

      &:hover
        background-color: $neutral-500
